APP_NAME=API_Users
DEBUG=True

HOST=0.0.0.0
PORT=8000
RELOAD=True

DATABASE_URL=postgresql://user:password@localhost:5432/api_users

CORS_ORIGINS=["http://localhost:3000"]

NATS_URL=nats://localhost:4222
NATS_SUBJECT=api-users.events

JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=60

LOG_LEVEL=debug
